<section class="hero">
  <div class="container">
    <div class="hero__inner">

      <div class="hero__info">
        <h1 class="hero__title title title--lg">
          <span>Обучающие курсы</span> для поставщиков на маркетплейсы
        </h1>

        <div class="hero__price">
          <svg class='hero__icon'>
            <use xlink:href='./img/sprite.svg#spent'></use>
          </svg>

          от <span>19 900</span> ₽
        </div>

        <div class="hero__descr">
          <p>
            Обучающие курсы по работе и продвижению на маркетплейсах от практикующих селлеров
          </p>
          <p>
            Добро пожаловать в Академию. Это место для эффективного обучения, где мы рассказываем, как работают маркетплейсы и
            никогда не вдаемся
            в теорию, которая не понадобится на практике.
          </p>
          <p>
            Нащи уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не действовать наугад.
            Становись экспертом в работе с маркетплейсами и увеличивай свою прибыль.
          </p>
        </div>
      </div>

      <div class="hero__img">
        <img loading="lazy" src="./img/superman.svg" alt="фото секции летящий Супермен с цифрой 4 на костюме" width="560" height="560">
      </div>

    </div>
  </div>
</section>

