<section class="training">
  <div class="container">
    <div class="training__inner">

      <div class="training__top">
        <h2 class="training__title title title--md">
          Обучение по продажам на маркетплейсах от <a href="#">stat<span>4</span>market</a>
        </h2>
        <p class="training__subtitle">
          «Увеличение реальной прибыли, конкретика и ключевые инструменты,
          которые дают результат» — на этом тезисе созданы наши курсы
        </p>
      </div>

      <ul class="training__list">
        <li class="training__item">
          <h3 class="training__heading title title--sm">
            Ко всем урокам есть дополнительные материалы
          </h3>
          <div class="training__descr">
            <p>
              Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.
            </p>
          </div>
        </li>
        <li class="training__item">
          <h3 class="training__heading title title--sm">
            Наше обучение — практико-ориентированное
          </h3>
          <div class="training__descr">
            <p>
              Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на
              практике.
            </p>
          </div>
        </li>
        <li class="training__item">
          <h3 class="training__heading title title--sm">
            Создатели нашей Академии
          </h3>
          <div class="training__descr">
            <p>
              Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также
              профессиональные лекторы и методологи.
            </p>
          </div>
        </li>
        <li class="training__item">
          <h3 class="training__heading title title--sm">
            Наше обучение построено очень лаконично и просто
          </h3>
          <div class="training__descr">
            <p>
              Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без
              лишней теории и “воды”.
            </p>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>

