<section class="trust">
  <div class="container">
    <div class="trust__inner">

      <div class="trust__top">
        <h2 class="trust__title title title--md">Небольшая предыстория о том, почему нам можно доверять</h2>
      </div>

      <div class="trust__content">
        <div class="trust__content-block">
          <div class='trust__img'>
            <img src='./img/trust1.svg' alt='Trust image' width='454' height='446' aria-hidden="true">
          </div>

          <div class="trust__descr">
            <p>
              Свой путь в бизнесе мы начали в 2016 г. У нас были свои островные магазины в крупных ТЦ Москвы («Европейский»,
              «Метрополис», «Мега» и др.), а также свой интернет-магазин. Мы накопили большой опыт в продвижении своих товаров за счет
              многочисленных запусков разных рекламных каналов и работы с блогерами.
            </p>
          </div>
        </div>

        <div class="trust__content-block trust__content-block--reverse">
          <div class='trust__img'>
            <img src='./img/trust2.svg' alt='Trust image' width='454' height='446' aria-hidden="true">
          </div>
          <div class="trust__descr">
            <p>
              Летом 2019 года мы вышли на маркетплейсы и после работы с ними в течение 2 месяцев приняли решение развивать только это
              направление. И не прогадали. Весь накопленный опыт мы направили на улучшение и продвижение наших брендов.
            </p>
            <p>
              Пришло время поделится знаниями и лайфхаками, которые будут собраны и доступны в нашей Академии stat4market.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
